#!/usr/bin/env bash

if which vim >/dev/null 2>&1; then
  alias vi="vim"
fi

alias mkdir="mkdir -pv"
alias c="clear"
alias rm="rm -iv"
alias mkdir="mkdir -pv"
alias cp="cp -v"
alias g="git"
alias grep="grep --color=auto"
alias vimrc="vim ~/.vimrc"

# Insecure ssh; only use this for sites you **DEFINITELY** trust
# Seriously...
alias issh="ssh -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ForwardAgent=yes"

# pretty-print path
alias path="echo \"${PATH//:/$'\n'}\""

# Starts web server that serves cwd
alias srv="python3 -m http.server --bind=127.0.0.1"

alias tf="terraform"
alias t="tmux"
alias tkill="tmux kill-session -t"

# Google Cloud aliases
alias gc="gcloud"
alias gcp="gcloud config get-value project"
alias gcps="gcloud config set project"

# kills all tmux sessions
alias kmux="tmux ls | awk '{ print \$1}' | tr -d ':' | xargs -I{} tmux kill-session -t {}"
alias mux="tmuxinator"

# Starts ephemeral session in tmux
alias eph="tmuxinator start ephemeral"
alias fe="tmuxinator start fe"

alias myip="dig +short myip.opendns.com @resolver1.opendns.com"
alias lsport='sudo lsof -i -T -n'

alias date_iso_8601='date "+%Y%m%dT%H%M%S"'

alias meminfo="free -m -l -t"
alias psx="ps auxwf | grep "
alias du='du -kh'
alias pst="pstree -Alpha"

# OS X has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# OS X has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# dircolors
if [[ "$SYSTEM_TYPE" == "LINUX" || "$SYSTEM_TYPE" == "CYGWIN" ]]; then
  if [ -s "$HOME/.dircolors" ]; then
    eval "$(dircolors -b $HOME/.dircolors)"
  else
    eval "$(dircolors -b)"
  fi
fi

# enable ls colors
if [[ "$DISABLE_LS_COLORS" != "true" ]]; then
  if [[ "$SYSTEM_TYPE" == "NET_BSD" ]]; then
    # On NetBSD, test if "gls" (GNU ls) is installed (this one supports colors);
    # otherwise, leave ls as is, because NetBSD's ls doesn't support -G
    gls --color -d . &>/dev/null 2>&1 && COLORFLAG="--color=tty"
  elif [[ "$SYSTEM_TYPE" == "OPEN_BSD" ]]; then
    # On OpenBSD, test if "colorls" is installed (this one supports colors);
    # otherwise, leave ls as is, because OpenBSD's ls doesn't support -G
    colorls -G -d . &>/dev/null 2>&1 && COLORFLAG="-G"
  elif [[ "$SYSTEM_TYPE" == "OSX" ]]; then
    # on OS X use "-G"
    COLORFLAG="-G"
  elif ls --color -d . &>/dev/null 2>&1; then
    COLORFLAG="--color"
    if [[ "$SYSTEM_TYPE" == "LINUX" || "$SYSTEM_TYPE" == "CYGWIN" ]]; then
      COLORFLAG="--color=auto"
    fi
  fi
fi

if [[ "$SYSTEM_TYPE" == "OSX" ]]; then  # Is this the Ubuntu system?
    alias ls="gls -F --color=auto"
    alias date="gdate"
fi

# list all files colorized in long format
alias l="ls -lhF $COLORFLAG"
# list all files with directories
alias ldir="l -R"
# Show hidden files
alias l.="ls -dlhF .* $COLORFLAG"
alias ldot="l."
# use colors
# display only files & dir in a v-aling view
alias l1="ls -1 $COLORFLAG"
# displays all files and directories in detail
alias la="ls -laFh $COLORFLAG"
# displays all files and directories in detail (without "." and without "..")
alias lA="ls -lAFh $COLORFLAG"
alias lsa="la"
# displays all files and directories in detail with newest-files at bottom
alias lr="ls -laFhtr $COLORFLAG"
# show last 10 recently changed files
alias lt="ls -altr | grep -v '^d' | tail -n 10"
# show files and directories (also in sub-dir) that was touched in the last hour
alias lf="find ./* -ctime -1 | xargs ls -ltr $COLORFLAG"
# displays files and directories in detail
alias ll="ls -lFh --group-directories-first $COLORFLAG"
# shows the most recently modified files at the bottom of
alias llr="ls -lartFh --group-directories-first $COLORFLAG"
# list only directories
alias lsd="ls -lFh $COLORFLAG | grep --color=never '^d'"
# sort by file-size
alias lS="ls -1FSshr $COLORFLAG"
# displays files and directories
alias dir="ls --format=vertical $COLORFLAG"
# displays more information about files and directories
alias vdir="ls --format=long $COLORFLAG"
alias tmux="TERM=screen-256color-bce tmux"

