set show-all-if-ambiguous on
set completion-ignore-case on
set bell-style none
set colored-stats on

set editing-mode vi
$if mode=vi
set keymap vi-command
# these are for vi-command mode
"\e[A":history-search-backward
"\e[B":history-search-forward
j:history-search-forward
k:history-search-backward
set keymap vi-insert
# these are for vi-insert mode
"\e[A":history-search-backward
"\e[B":history-search-forward
$endif

"\e\t": menu-complete-backward
"\e[Z": menu-complete-backward

# time commands with C-j
"\C-j": "\C-atime \C-m"
